.day-box{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.day-box .date{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-task-btn-container{
    width: 100%;
   height: 50px;
}

.add-task-btn{
    display: none;
    cursor: pointer;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
}

.add-task-btn-container:hover{
    .add-task-btn{
        display: block;
    }
}


/* Define styles for the overlay background */
.popup-overlay {
    position: relative;
    top: 50px;
    left: 55px;
    width: 100%;
    height: 50%;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  /* Define styles for the popup container */
  .popup-container {
    background: #eee; /* Background color of the popup */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the popup */
    max-width: 80%; /* Adjust the width as needed */
    user-select: none;
  }
  
  /* Define styles for the close button */
  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 2px;
    cursor: pointer;
  }
  
