.task-card{
    background-color: white;
    border: 1px solid #000 !important;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    min-height: 10;
}

.task-card:hover{
    cursor: pointer;
    background-color: #201f1f;
    color: white;
}
.task-title{
    font-weight: bold;
    margin-bottom: 5px;
}
.label-color-box{
    display: inline-block;
    width: 50px;
    height: 10px;
    margin: 2px;
    border-radius: 4px;
}
.edit-task-form input{
    padding: 3px;
    margin-bottom: 5px;
}
.edit-task-form button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #201f1f;
    color: white;
    font-weight: bold;
    align-self: center;
    margin-left: 5px;
}
/* Define styles for the overlay background */
.popup-overlay {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
    background: #e7e3e3; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index as needed *//* Adjust the z-index as needed */
  }
  
  /* Define styles for the popup container */
  .popup-container {
    background: #eee; /* Background color of the popup */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the popup */
    max-width: 80%; /* Adjust the width as needed */
    user-select: none;
  }
  
  /* Define styles for the close button */
  .popup-close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    background-color: #201f1f;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
  }

  .add-label-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
    .add-label-form input{
        padding: 2px;
        border-radius: 3px;
        border: 1px solid #000;
    }
    .add-label-form button{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
        background-color: #201f1f;
        color: white;
        font-weight: bold;
        width: 60%;
        align-self: center;
        margin-top: 10px;
    }